<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="fonts/material-icon/css/material-design-iconic-font.min.css"
    />
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="main">
      <!-- Sign in Form -->
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            <div class="signin-image">
              <figure>
                <img src="images/signin-image.jpg" alt="sign in image" />
              </figure>
              <a href="/register" class="signup-image-link"
                >Create an account</a
              >
            </div>

            <div class="signin-form">
              <h2 class="form-title">Sign in</h2>
              <form
                action="/login"
                method="POST"
                class="register-form"
                id="login-form"
              >
                <div class="form-group">
                  <label for="email">
                    <i class="zmdi zmdi-email"></i>
                  </label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Enter Your Email"
                  />
                </div>
                <div class="form-group">
                  <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    type="password"
                    name="password"
                    id="your_pass"
                    placeholder="Password"
                  />
                </div>

                <% if ((errors && errors.length > 0)) { %> <%
                errors.forEach((error) => { %>
                <p class="flash-error"><%= error %></p>
                <% }); %> <% } %>

                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="signin"
                    id="signin"
                    class="form-submit"
                    value="Log in"
                  />
                </div>
              </form>

              <!-- Add this forgot password link -->
              <div class="forgot-password-link">
                <a href="/reset-password">Forgot password?</a>
              </div>

              <div class="social-login">
                <span class="social-label">Or login with</span>
                <ul class="socials">
                  <li>
                    <a href="#">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/github">
                      <i class="zmdi zmdi-github"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/google">
                      <i class="zmdi zmdi-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
