<footer>
  <div class="container">
    <div class="copyright">
      &copy; <%= new Date().getFullYear(); %> Redixy. All rights reserved.
    </div>
    <div class="social-links">
      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
      <a href="#"><i class="zmdi zmdi-twitter"></i></a>
      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
      <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
    </div>
  </div>
</footer>
