<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <div class="container">
        <div class="logo">
          <a href="/"><h1>Redixy</h1></a>
        </div>

        <nav class="navbar">
          <a href="/">Home</a>
          <a href="#section2">About</a>
          <a href="#section4">Contact</a>

          <% if (!user) { %>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          <% } else { %>
          <a href="/profile">Profile</a>
          <a href="/logout">Logout</a>
          <% } %>
        </nav>
      </div>
    </header>
  </body>
</html>
