<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/URL Shortener/public/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("header") %>
    <section>
      <h1>Student Report Card</h1>
      <ul>
        <% student.map((stud) => { %>
        <li>
          <p>Name : <%= stud.name %></p>
          <p>Grade : <%= stud.grade %></p>
          <p>FavSubject : <%= stud.favSubject %></p>
        </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
